<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehiculos</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/logo_bookstop.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4" id="barraNav">
        <a href="{% url 'inicio' %}" id="logoBookStop">
            <img src="{% static 'img/logos/logomascota.jpg' %}" alt="logo mascotas" width="40px">
        </a>
        <!-- botón hamburguesa -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
            
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cards' %}">Fundación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'venta' %}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'alimentos' %}">Alimentos</a>
                </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'productos_stock' %}">Stock Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><strong>Bienvend@ {{ user.username }} </strong></a>
                </li>
            
            </ul>
            {% else %}
            <ul class="navbar-nav nr-auto">
                <li>
                    <a class="nav-link" href="{% url 'registro' %}">Regístrate</a>
                </li>

            </ul>
            {% endif %}
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="¿Qué buscas?" aria-label="Search" >
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnBuscar">Buscar</button>
            </form>
            <div>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" id="userBookStop">   <!-- logout NO SE ENCUENTRA EN EL PATH, FUE CONFIGURADO EN EL SETTINGS DEL PROYECTO -->
                    <img src="{% static 'img/user-vector-icon.png' %}" 
                        alt="userBookStop" width="20px">Cerrar sesión
                </a>
                {% else %} 
                <a href="{% url 'login' %}" id="userBookStop">  
                  
                    <img src="{% static 'img/user-vector-icon.png' %}" 
                        alt="userBookStop" width="20px" text-right>Iniciar sesión
                </a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}



    <script type="text/javascript">
        let ubicacionInicial = window.pageYOffset;
        window.onscroll = function () {
            let ubicacionPosterior = window.pageYOffset;
            if (ubicacionInicial >= ubicacionPosterior) {
                document.getElementById("barraNav").style.top = "0";
            }
            else {
                document.getElementById("barraNav").style.top = "-70px";
            }
            ubicacionInicial = ubicacionPosterior
        }
    </script>
    
</body>
    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/validacion.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>