*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-group {
    width: 400px;
    background: #24303c;
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

}

.form-group h3 {
font-size: 22px;
margin-bottom: 20px;
}

.control{
    width: 100%;
    background: rosybrown;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px royalblue;
    font-size: 'calibri';
    font-size: 18px;

}

body {
background-color: beige;
}

.form-group p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}

.form-group a{
    color: white;
    text-decoration: none;
}

.form-group a:hover {
    color: white;
    text-decoration: underline;
}

.form-group .button{
    width: 100%;
    background: red;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}